#dashboard {
  @include row();
  padding-top: 20px;
}

#lines {
  padding-left: 20px;
  @include span-columns(3);
  height: 100px;
  
  .line {
    @include row();
    cursor: pointer;
    padding-left: 1em !important;
    height: 3em;
    line-height: 3em;
    margin-bottom: 1px;
  }
  
  .active {
    background: $success;
    &:hover {
      background: $error;
    }
  }
  
  .inactive {
    background: $error;
    &:hover {
      background: $success;
    }
  }
}

#lines-new {
  background: #eee;
  &:hover {
    background: #ccc;
  }
}

#graph {
  padding-right: 20px;
  @include span-columns(9);
  
  .graph-area {
    @include row();
    border: 1px solid #ddd;
    background: #fefefe;
    height: 480px;
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 100;
  text-align: center;
  
  .modal-content {
    display: inline-block;
    position: relative;
    border: 3px solid #ccc;
    box-shadow: 0 0 140px #ccc;
    background: #fefefe;
    margin-top: 50px;
    padding: 2em;
    $width: 600px;
    width: $width;
  }
}

.form-row {
  @include row();
  margin-bottom: 2px;
  .form-label {
    @include span-columns(5);
    text-align: right;
  }
  .form-field {
    @include span-columns(7);
    text-align: left;
    input {
      @include span-columns(5);
    }
  }
}

.form-buttons {
  margin-top: 10px;
  @include row();
  text-align: center;
}