#dashboard {
  @include row();
  padding-top: 20px;
}

#lines {
  padding-left: 20px;
  @include span-columns(3);
  height: 100px;
  
  .line {
    @include row();
    cursor: pointer;
    padding-left: 1em !important;
    height: 3em;
    line-height: 3em;
    margin-bottom: 1px;
  }
  
  .active {
    background: $success;
    &:hover {
      background: $error;
    }
  }
  
  .inactive {
    background: $error;
    &:hover {
      background: $success;
    }
  }
}

#lines-new {
  background: #eee;
  &:hover {
    background: #ccc;
  }
}

#graph {
  padding-right: 20px;
  @include span-columns(9);
  
  .graph-area {
    @include row();
    border: 1px solid #ddd;
    background: #fefefe;
    height: 480px;
  }
}

.modal {
  position: fixed;
  left: 50%;
  $width: 600px;
  width: $width;
  margin-left: -$width / 2;
  margin-top: 20px;
  padding: 2em;
  border: 3px solid #ccc;
  
  box-shadow: 0 0 140px #ccc;
  background: #fefefe;
}