.metadata-bar {
  margin-left: 20px;
}

.metadata-empty {
  color: #999;
}

#fume-hoods-collection {
  margin-left: 0;
  padding-left: 0;
}

.fume-hood {
  text-align: center;
}

.fume-hood-form {
  padding: 50px 100px;
  .field {
    @include row();
    padding: 3px 0;
  }
  
}