#roles {
  padding-left: 0;
  li {
    @include row();
  }
}



.role {
  .role-member, .role-admin {
    padding-left: 2em;
    @include span-columns(3);
    text-align: left;
  }
  
  .role-member {
    color: blue;
  }
  
  .role-admin {
    color: green;
  }
  
  .role-email {
    @include span-columns(6);
    text-align: center;
  }
}