#header {
  @include row();
  border-bottom: 3px solid #ccc;
}

#title {
  padding: 10px;
  font-size: 1.2em;
}

.session-link {
  border-radius: 3px;
  box-shadow: 0 0 5px 1px #e7e7e7 inset;
  background: #fff;
  float: right;
  padding: 10px 20px;
  margin: 10px;
  a {
    text-decoration: none;
  }
}