.flash {
  padding: 15px 20px;
  font-size: 1.1em;
  @include row();
  text-align: center;
}

.success {
  background-color: $success;
}

.error, .alert {
  background-color: $error;
}

.notice {
  background-color: $notice;
}

.welcome-section {
  padding: 30px;
}

#error_explanation {
  color: red;
  h2 {
    display: none;
  }
  li {
    list-style-type: none;
  }
}

.img-medium {
  width: 200px;
  height: 200px;
}

.img-rounded {
  border-radius: 100px;
  box-shadow: inset 1px 1px 5px rgba(250, 250, 250, 0.9);
}