<section class="welcome-section">
	About
	<%= image_tag 'fume-hood.jpg', class: 'img-medium img-rounded' %>
</section>



<section>
	Working With
	<%= image_tag 'organizations/mcgill.png' %>
</section>