<ul id="navigation">
	<% %w(dashboard filters fume_hoods members).each do |tab| %>
		<li><a href="<%= tab.dasherize %>"><%= t(tab) %></a></li>
	<% end %>
</ul>

<div id="hood-link"></div>

<%= templates 'app', 'templates' %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'dashboard' %>
<% end %>