<li>
  <div class="role">
    <div class="role-<%= type %>">
      <%= type %>
    </div>
    <div class="role-email">
      <%= email %>
    </div>
    <div class="role-actions">
      x
    </div>
  </div>
</li>