<div id="lines">
  <div id="lines-new" class="line">
    + new line
  </div>
</div>
<div id="graph">
  <div class="graph-area">
    <div class="loading">Loading...</div>
    <div class="instructions">
      <p>When the graph is ready, create a new line. Specify the name and the data filters.</p>
      <p>To match anything (i.e. not blank) use a * for the value.</p>
    </div>
  </div>
</div>