<div id="lines">
  <div id="lines-new" class="line">
    + new line
  </div>
</div>
<div id="graph">
  <div class="graph-area">
    <div class="loading">Loading...</div>
    <div class="instructions">
      <p>When the graph is ready, create a new line. Specify the name and the data filters.</p>
      <p>There are special values as well to help with partiioning fume hoods. To match a blank value use x. To match any non-blank value use *.</p>
    </div>
  </div>
</div>
