<form id="new-filter">
  <legend>create a new field for filtering fume hoods</legend>
  <input name="key" type="text">
  <input type="submit" value="Create Filter">
</form>

<div id="filter-fields"></div>