<div class="admin-row">
  <%= external_id %>
  <% _.each(filters, function(key) { %>
    <% if (data[key]) { %>
      <span class="metadata-bar"><%= data[key] %></span>
    <% } else { %>
      <span class="metadata-bar metadata-empty">(<%= key %>)</span>
    <% } %>
  <% }); %>
</div>
