<% _.each(filters, function(filter) { %>
  <div class="field">
    <div class="form-row">
      <div class="form-label">
        <label><%= filter.key %></label>
      </div>
      <div class="form-field">
        <input type="text" name="<%= filter.key %>" value="<%= data[filter.key] %>">
      </div>
    </div>    
  </div>
<% }); %>
<div class="form-buttons">
  <button type="button" class="update-display">Update Display</button>
  <button type="submit">Save</button>
</div>