<div id="period">
	<div id="period-begin" class="date"></div>
  <div class="space">to</div>
	<div id="period-end" class="date"></div>
</div>
<div id="progress-container">
  <progress id="progress" max="0" value="0"></progress>
  <div id="progress-text">0 / 24</div>
</div>

