<div id="period">
	<div id="period-begin" class="date"></div>
  <div class="space">to</div>
	<div id="period-end" class="date"></div>
</div>
<progress id="progress" max="1.0" value="0.5"><span>0</span>%</progress>
