<div class="modal-content">
  <div class="field">
    <div class="form-row">
      <div class="form-label">
        <label>Name</label>
      </div>
      <div class="form-field">
        <input type="text" name="name">
      </div>
    </div> 
  </div>
  <hr>
  <% _.each(filters, function(key) { %>
    <div class="field">
      <div class="form-row">
        <div class="form-label">
          <label><%= key %></label>
        </div>
        <div class="form-field">
          <input type="text" name="filters[<%= key %>]">
        </div>
      </div> 
    </div>
  <% }); %>
  <button type="submit">Create</button>
  <button type="button" class="close">Cancel</button>
</div>
