<div class="<%= visible ? 'active' : 'inactive' %>">
  <span style="float: left;"><%= name || "(name)" %></span>
  <a style="float: right;" href="#" data-action="destroy" class="destroy">x</a>
</div>
