<form id="new-role">
  <legend>grant a new member access to the dashboard</legend>
  <input name="email" type="email">
  <select name="type">
    <option value="member" selected>member</option>
    <option value="admin">admin</option>
  </select>
  <input type="submit" value="Grant Access">
</form>

<ul id="roles"></ul>