<div class="role admin-row">
  <div class="role-<%= type %>">
    <%= type %>
  </div>
  <div class="role-email">
    <%= email %>
  </div>
  <div class="admin-actions">
    <a href="#" data-action="destroy">x</a>
  </div>
</div>